# Arithmatic Operator

In [1]:
#addition, subtraction, multiplication, division, modulus(%), exponentiation(**),floor division(//) 

#modulus - In the usual division case the quotient before decimal will be the modulus
#exponentiation - this will be using as a power (2 to the power of 10)
#floor division - In usual division case the remainder before achiving 0 will the floor division

In [5]:
#Floor division

(8//3)

2

In [10]:
#modulus

(14%3)

2

In [11]:
#exponentiation

(2**10)

1024

# Comparison operators

In [ ]:
==,>,<,>=,<=,!=

#explination is known so not working with an examples

# Logical operator

In [ ]:
#AND - both are T the value will be true and remaining all the cases values will be F
#OR - if anyone is T then it will be T,
#NOT - 0 - 1, 1- 0

# Assignment operator

In [ ]:
##Assign some value to the variable

#= --> equal operator(score = 0)
#+= --> (score = score + 1) or score += 1
#-= --> (score = score - 1) or score -= 1
#*= --> (score = score * 1) or score *= 1

# Identity operator

In [12]:
#Identity operator will check for the value of the variable are of the same or not

x= "sneha"
y= 23

print(x is y)

False

In [13]:
print(x is not y)

True

In [15]:
# value of both the variable is true so x = y
x= "sneha"
y= "sneha"

print(x is y)

True

# Bitwise Operator

In [ ]:
#Bitwise operator will be used only on binary numbers

#AND(&)
#OR(|)
#XOR(^) --> Both are T then 0 Both are false then 0 
#left shift fill zero(>>) --> this will cancel the last 2 values and add 2 zero's in the beginning
#Right shift fill zero(<<) --> This will not cancel any values but just adds the values at the end.

In [18]:
print(10 & 2)

2

In [19]:
print(10 | 2)

10

In [21]:
print(10 ^ 8)

2

In [22]:
#Right shift

print(10<<2)

40

In [23]:
#left shift

print(10>>1)

5

# Membership operator

In [26]:
#Here will verify the character is present or not in that variable

#There are 2 operator in membership
#1. in
#2. not in
# this is case sensitive.

a= "sneha"

print("M" in a)

print("M" not in a)

False
True

In [28]:
print("n" in a)

True